* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 80px;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
}

h1 {
  text-align: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#radioButtons {
  display: flex;
  flex-direction: column;
}

#avaliacao {
  display: flex;
}
